<footer>
   <div class="footer smoky text-white">
       <div class="row p-3 pt-4">
           <div class="col text-center">         
               <ul>
                   <li class="my-1"><a href="mailto:" >Correo jaja</a></li>
                   <li class="my-1"><a href="tel:658095541" >Quieres reportar algun bug?</a></li>
                   <li class="my-1">Mi direccion aqui ns pa que</li>
               </ul>
           </div>
           <div class="col text-center">
               <ul>
                   <li class="my-1"><a href="/informacion?data=aboutus">Quienes somos</a></li>
                   <li class="my-1"><a href="/informacion?data=ourteam">Nuestro equipo</a></li>
                   <li class="my-1"><a href="/informacion?data=workhere">Trabaja con nosotros</a></li>
               </ul>
           </div>
           <div class="col text-center"> 
               <ul>
                   <li class="my-1"><a href="/informacion?data=legalpolicy">Aviso legal</a></li> 
                   <li class="my-1"><a href="/informacion?data=cookies">Cookies</a></li>
                   <li class="my-1"><a href="/informacion?data=privacy">Privacidad</a></li>
               </ul>
           </div>
       </div>
   </div>
</footer>