<header class="d-flex align-items-center justify-content-between">
  <div class=" d-flex align-items-center justify-content-begin ms-4 mb-2">
    <a href="/" class="linkLogo" tabindex="-1">Clefchamp</a>
  </div>
</header>