<header class="d-flex align-items-center justify-content-between">
  <div class=" d-flex align-items-center justify-content-begin ms-4 mb-2">
    <a href="/" style="font-size: 1.5em;color: #1E0126;text-decoration: none;">Cleğ„champ</a>
  </div>
</header>