<div id="divFeedback" class="rounded-4 px-4 pt-4 mt-5 ">
  <div id="scoreDiv">
    <h1 class="puntuation" id="pointsSpan">0</h1>
    <h1 class="puntuation" id="scoreAdded">0</h1> 
  </div>
  <div class="row">
    <h1 id="successMessage" class="text-center" style="opacity:0">Placeholder</h1>
  </div>
  <div class="row w-50 mx-auto">
    
    <div id="canvasParent" class="col-lg-4 col-12 d-flex  pb-5 ">
    </div>
    <div class="col-lg-8 col-12 ps-5 pt-4">
      
      <div class="contenedor mb-5 ">
        <div class="piano">
          <button class="tecla-blanca notec" >Do</button>
          <button class="tecla-negra REb4" disabled></button>
          <button class="tecla-blanca noted" >Re</button>
          <button class="tecla-negra MIb4" disabled></button>
          <button class="tecla-blanca notee" >Mi</button>
          <button class="tecla-blanca notef" >Fa</button>
          <button class="tecla-negra SOLb4" disabled></button>
          <button class="tecla-blanca noteg" >Sol</button>
          <button class="tecla-negra LAb4" disabled></button>
          <button class="tecla-blanca notea" >La</button>
          <button class="tecla-negra SIb4" disabled></button>
          <button class="tecla-blanca noteb" >Si</button>
        </div>
      </div>
      <div class="contenedor phoneHidden">
        <div class="piano">
          <button class="tecla-guia notec" disabled>A</button>
          <button class="tecla-guia noted" disabled>S</button>
          <button class="tecla-guia notee" disabled>D</button>
          <button class="tecla-guia notef" disabled>F</button>
          <button class="tecla-guia noteg" disabled>J</button>
          <button class="tecla-guia notea" disabled>K</button>
          <button class="tecla-guia noteb" disabled>L</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-1 ">
    <h1 id="streak" class="text-center" style="opacity:0">Racha: <span id="streakNumber">3</span></h1>
  </div>
</div>