<div id="divFeedback" style="background-color: white" class=" rounded-4 px-4 pt-4 ">
    <div class="progress" style="min-width: 60em;">
      <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success slider" role="progressbar" aria-label="Success striped example" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  <div class="row mt-3 ">
    <h1 id="successMessage" class="text-center" style="opacity:0">Placeholder</h1>
  </div>
  <div class="row">
    <div class="col-1">
    </div>
    <div id="canvasParent" class="col-3 d-flex justify-content-center pb-5 ">
    </div>
    <div class="col-8 ps-5 pt-4">
      
      <div class="contenedor mb-5 ">
        <div class="piano">
          <button class="tecla-blanca notec" disabled>Do</button>
          <button class="tecla-negra REb4" disabled></button>
          <button class="tecla-blanca noted" disabled>Re</button>
          <button class="tecla-negra MIb4" disabled></button>
          <button class="tecla-blanca notee" disabled>Mi</button>
          <button class="tecla-blanca notef" disabled>Fa</button>
          <button class="tecla-negra SOLb4" disabled></button>
          <button class="tecla-blanca noteg" disabled>Sol</button>
          <button class="tecla-negra LAb4" disabled></button>
          <button class="tecla-blanca notea" disabled>La</button>
          <button class="tecla-negra SIb4" disabled></button>
          <button class="tecla-blanca noteb" disabled>Si</button>
        </div>
      </div>
      <div class="contenedor">
        <div class="piano">
          <button class="tecla-guia notec" disabled>A</button>
          <button class="tecla-guia noted" disabled>S</button>
          <button class="tecla-guia notee" disabled>D</button>
          <button class="tecla-guia notef" disabled>F</button>
          <button class="tecla-guia noteg" disabled>J</button>
          <button class="tecla-guia notea" disabled>K</button>
          <button class="tecla-guia noteb" disabled>L</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-1 ">
    <h1 id="streak" class="text-center" style="opacity:0">Racha: <span id="streakNumber">3</span></h1>
  </div>
</div>