# Dependencias de Node
node_modules/
package-lock.json

# Archivos de configuración específicos de entorno
.env
.env.production

# Archivos de sistema (Mac, Windows)
.DS_Store
Thumbs.db

# Archivos de compilación
*.log
*.pid
*.pid.lock

# Archivos temporales y de caché
.tmp/
.cache/

# Archivos específicos del IDE (Visual Studio Code)
.vscode/

notas.txt

backup/
.qodo
