<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <div class="form-control">
      <input type="value" required="">
      <label>
        <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
      </label>
    </div>
    <div class="d-flex align-items-center justify-content-center vh-90" id="mainContent">
      <div>
        <h1 class="text-center" style="font-size: 14em;color: #1E0126;">Clefchamp</h1>
        <h2 class="text-center"> Plataforma de aprendizaje musical mediante gamificación</h2>
        <div class="d-flex justify-content-center mt-5">
          <a href="/"><button class="cancelButton me-5">Prueba de nivel</button></a>
          <a href="/loading?redirect=/moreInformation"><button class="acceptButton">Saber más</button></a>
        </div>
      </div>
    </div>
    <%-include('partials/footer') %>
    <script>
      // Configurar la recarga cada 5 segundos (5000 ms)
      // setInterval(() => {
      //   window.location.reload();
      // }, 1500);
    </script>
  </body>
</html>