<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <div class="d-flex align-items-center justify-content-center vh-100" id="mainContent">
      <div class="spinner-border m-5" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </body>
  <script>
      // Redirige después de unos segundos
      setTimeout(() => {
        window.location.href = "<%= redirectUrl %>";
      }, 1000); // Ajusta el tiempo según lo necesario
    </script>
</html>