<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/headerLogo') %>
    <div class="vh-90 d-flex align-items-center ">
      <div class="bg-danger rounded-4 p-4" style=" min-height: 70vh;">
        <img class="loginImage" src="/images/inicioDeSesion.png" style="max-width: 30em;"  alt="Ilustración decorativa para iniciar sesión de una persona con una llave">
      </div>
      <div id="mainDiv" class="bg-warning mx-auto rounded-4 p-4" style="max-width: 30em; min-height: 70vh;">
        <h1 class="my-4 mb-5 text-center">Inicio de sesión</h1>
        <form>
          <div class="form-floating my-4">
            <input type="text" class="form-control" name="email" id="email" placeholder=" ">
            <label for="email">Correo o alias</label>
            <div class="invalid-feedback">
              Correo o alias no existente
            </div> 
          </div>
          
          <div class="input-group mt-4">
            <div class="form-floating">
                <input id="password" type="password" name="contrasena" class="form-control" placeholder="Password">
                <label for="password">Contraseña</label>
            </div>
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">Mostrar</button>
          </div>
          <div id="invalidMessage" class="myInvalidFeedback mb-4" hidden>
              Contraseña incorrecta
          </div>
        
          <input id="login" class="acceptButton-lg w-100 my-4" type="submit" value="Iniciar sesión">
          <div class="row my-4 d-flex justify-content-center ">
              <!-- <span style="position:relative; bottom: 0;"> ¿No tienes una cuenta? <a href="/users/register">Registrate</a></span> -->
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="/javascripts/validateLogin.js"></script>
  <script>
    $("#togglePassword").on("mousedown", function() {
        $("#password").attr("type", "text");
    });
    $("#togglePassword").on("mouseup", function() {
        $("#password").attr("type", "password");
    });
  </script>
</html>
