<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
      <%-include('partials/header') %>
      <div class="vh-90 d-flex flex-column">
        <div class="row formulario" style="margin-left:10em;margin-right: 10em;">
          <div class="col p-4 mt-4 mx-5 colorNuevo3" style="border-radius: 2em;">
            <div class="colorNuevo5 rounded-circle ratio ratio-1x1">
              <img class="rounded-circle p-2" src="/images/github_jesus.jpg">
            </div>
            <div class="mt-4 text-center">
              <h3 class="infoDescriptor">Aprende a través de diferentes juegos</h3>
            </div>
          </div>
          <div class="col p-4 mt-4 mx-5 colorNuevo3" style="border-radius: 2em;">
            <div class="colorNuevo5 rounded-circle ratio ratio-1x1">
              <img class="rounded-circle p-2" src="/images/github_jesus.jpg">
            </div>
            <div class="mt-4 text-center">
              <h3 class="infoDescriptor">Consigue experiencia y sube de nivel</h3>
            </div>
          </div>
          <div class="col p-4 mt-4 mx-5 colorNuevo3" style="border-radius: 2em;">
            <div class="colorNuevo5 rounded-circle ratio ratio-1x1">
              <img class="rounded-circle p-2" src="/images/github_jesus.jpg">
            </div>
            <div class="mt-4 text-center">
              <h3 class="infoDescriptor">Compite contra tus amigos y contra ti mismo</h3>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center result ">
          <a href="/"><button class="cancelButton me-5">Prueba de nivel</button></a>
          <a href="/users/register"><button class="acceptButton">Crear cuenta</button></a>
        </div>
      </div>
  </body>
</html>
