<!DOCTYPE html>
<html lang="es">
<%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/headerLogo') %>
    <div id="vhDiv" class="vh-90 d-flex align-items-center">
      <div id="mainDiv" class="bg-15 col-lg-6 mx-auto rounded-4 pt-4 px-4 my-2">
        <h1 class="text-center">Registro</h1>
        <form id="myForm" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="form-floating registerDiv">
                <input id="name" type="text" class="form-control" name="nombre" placeholder="" required tabindex="1">
                <label for="email">Nombre</label>
                <div id="nameCheck" class="invalid-feedback">
                  
                </div> 
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-floating registerDiv">
                <input id="tagname" type="text" class="form-control" name="alias" placeholder="" required>
                <label for="email">Alias</label>
                <div id="tagCheck" class="invalid-feedback">
                  
                </div>
                <div class="valid-feedback">
                  Alias disponible
                </div> 
              </div>
            </div>
          </div>
          <!--CORREO-->
          <div class="row">
            <div class="col">
              <div class="form-floating registerDiv">
                <input id="email" type="text" class="form-control" name="email" placeholder="" required>
                <label for="email">Correo</label>
                <div class="invalid-feedback">
                  Dirección de correo no válida
                </div>
                <div id="existentCheck" class="myInvalidFeedback mb-1" hidden>
                  Dirección de correo ya registrada
                </div> 
              </div>
            </div>
          </div>
          <!--CONTRASEÑA-->
          <div class="row">
            <div class="col-lg-6 col-sm-12">

              <div class="input-group registerDiv">
                <div class="form-floating">
                  <input id="password" type="password" name="contrasena" class="form-control" placeholder="Password">
                  <label for="password">Contraseña</label>
                </div>
                <button id="togglePassword" class="bg-15 border-0" style="border-radius: 0 10px 10px 0;" type="button" tabindex="-1">Mostrar</button>
              </div>
              <div id="capitalCheck" class="myInvalidFeedback mb-1" hidden>
                Debe contener una mayúscula
              </div>
              <div id="sizeCheck" class="myInvalidFeedback mb-1" hidden>
                Debe contener 8 caracteres
              </div>
              <div id="specialCheck" class="myInvalidFeedback mb-1" hidden>
                Debe contener 1 caracter especial
              </div>
              <div id="numberCheck" class="myInvalidFeedback mb-1" hidden>
                Debe contener 1 número
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">

              <div class="input-group registerDiv">
                <div class="form-floating">
                  <input id="confirmPassword" type="password" name="contrasenaConf" class="form-control" placeholder="">
                  <label for="password">Confirmar contraseña</label>
                </div>
                <button id="toggleConfirmPassword" class="bg-15 border-0" style="border-radius: 0 10px 10px 0;" type="button" tabindex="-1">Mostrar</button>
              </div>
              <div id="invalidConfirm" class="myInvalidFeedback mb-4" hidden>
                Las contraseñas deben coincidir
              </div>
            </div>
          </div>
          <!--BOTON-->
          <div class="row d-flex registerDiv justify-content-center">
            <input id="register" class=" acceptButton-lg my-3 " type="button" value="Crear cuenta">
          </div>
          <div class=" mb-4 d-flex justify-content-end w-100">
            <span> ¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></span>
        </div>
        </form>
      </div>
      <%-include('partials/modal/register') %>
      
    </div>
    <script>
      $("#togglePassword").on("mousedown", function() {
        $("#password").attr("type", "text");
      });
      $("#togglePassword").on("mouseup", function() {
          $("#password").attr("type", "password");
      });
      $("#toggleConfirmPassword").on("mousedown", function() {
        $("#confirmPassword").attr("type", "text");
      });
      $("#toggleConfirmPassword").on("mouseup", function() {
          $("#confirmPassword").attr("type", "password");
      });
    </script>
    <script src="/javascripts/validateRegister.js"></script>
  </body>
</html>