<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <div class="vh-90" id="mainContent">
      <div class="d-flex g-3">
        <div class="col-4 bg-danger">
          
        <div class="row justify-content-center mx-2 my-3">
          <div class="col-auto text-center w-100">
            <a class="btn btn-primary w-100 " style="height: 4em; border-radius: 1em;">Atrapa-do</a>
            <div class="bg-dark mx-auto w-75 text-white" style="height:1.5em; border-radius: 0 0 0.6em 0.6em">Facil</div>
          </div>
        </div>
        

        <div class="row justify-content-center mx-2 my-3">
          <div class="col-auto text-center w-100">
            <a class="btn btn-primary w-100 " style="height: 4em; border-radius: 1em;">Atrapa-do</a>
            <div class="bg-dark mx-auto w-75 text-white" style="height:1.5em; border-radius: 0 0 0.6em 0.6em">Normal</div>
          </div>
        </div>
        <button class="btn btn-primary btn-hover-text">
          <span>Texto original</span>
        </button>
        <div class="row justify-content-center mx-2 my-3">
          <div class="col-auto text-center w-100">
            <a class="btn btn-primary w-100 " style="height: 4em; border-radius: 1em;">Atrapa-do</a>
            <div class="bg-dark mx-auto w-75 text-white" style="height:1.5em; border-radius: 0 0 0.6em 0.6em">Difícil</div>
          </div>
        </div>
          <!-- <div class="container">
            <div class="row justify-content-center">
              <div class="col-auto text-center">
                <button class="btn btn-primary rounded-2 px-4">Botón</button>
                <div class="bg-secondary text-white p-1 mx-auto rounded-bottom" style="width: 70%; border-radius: 0 0 10px 10px;">
                  Subtítulo
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-8 bg-warning">
          hey
        </div>
      </div>
    </div>
    <%-include('partials/footer') %>
    <script>
      // Configurar la recarga cada 5 segundos (5000 ms)
      // setInterval(() => {
      //   window.location.reload();
      // }, 500);
    </script>
  </body>
</html>