<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
      <%-include('partials/header') %>
      <div class="vh-90 d-flex flex-column align-items-center">
        <h1>Ajustes</h1>
      </div>
  </body>
</html>
