<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
      <%-include('partials/header') %>
      <div class="vh-90 d-flex flex-column align-items-center">
        <div class="pastelGreen p-3 w-100 align-items-center justify-content-center ">
          <div id="easyStats" style="width: 60vw; height: 25vh;"></div>
        </div>
        <div class="pastelBlue p-3 w-100 align-items-center ustify-content-center">
          <div id="normalStats" style="width: 60vw; height: 25vh;"></div>
        </div>
        <div class="pastelRed p-3 w-100 align-items-center justify-content-center">

          <div id="hardStats" style="width: 60vw; height: 25vh;"></div>
        </div>
      </div>

<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<script src="/javascripts/highchartsManager.js"></script>

  </body>
</html>
