<div id="deleteModal" class="modal " tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content rounded-4 p-4" style="border:0; background-color: #F2E7DC">
        <div class="modal-body d-flex align-items-center">
            <h3 class="modal-title mx-auto">¿Estás seguro?</h3>
        </div>
        <div class="display d-flex align-items-center flex-column">
            <div class="row ">
                <span>Escribe "BORRAR CUENTA" para confirmar</span>
            </div>
            <div class="row my-3">
            <input id="textfield" type="text"> 
            </div>
            <div class="row">
            <div class="col align-items-center justify-content-center">
                <button id="confirmBtn" class="btn btn-danger">Confirmar</button>
                <button id="cancelBtn" class="btn btn-primary">Cancelar</button>
            </div>
            </div>  
        </div>
        </div>
    </div>
</div>
