<div id="tutorialModal" class="modal " tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content rounded-4" style="border:0; background-color: #F2E7DC">
        <div class="modal-body d-flex align-items-center">
          <h3 class="modal-title mx-auto">¿Como funciona?</h3>
        </div>
        <div class="row py-5">
          <!-- -- -->
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active row">
                <p class="text-center">En cuanto le des a comenzar aparecerá la primera nota en el pentagrama</p>
                <p class="text-center mb-5">Cuando pulses una nota inmediatamente aparecerá la siguiente</p>
              </div>
              <div class="carousel-item">
                <p class="text-center">Las notas (Do, Re, Mi, Fa, Sol, La, Si) estan asociadas </p>
                <p class="text-center mb-5">a las teclas del ordenador A, S, D, F, J, K, L respectivamente</p>
              </div>
              <div class="carousel-item">
                <p class="text-center">Adivina el mayor numero de notas en el menor tiempo posible</p>
                <p class="text-center mb-5">No hay limite de tiempo</p>
              </div>
            </div>
            <button class="carousel-control-prev" style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- -- -->
        </div>
        <div class="row px-4 align-items-center py-2">
          <% if (locals.mode !== "TRIAL" ) { %>
          <div class="col">
            <input id="showModalCheck" type="checkbox" class="form-check-input">
            <span>No volver a mostrar</span>
          </div>
          <% } %>
          <div class="col d-flex justify-content-center">
            <button id="closeModal" type="button" data-bs-dismiss="modal" class="acceptButton-sm mx-auto">Aceptar</button>
          </div>
          <% if (locals.mode !== "TRIAL" ) { %>
            <div class="col">
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>