/* NUEVOS */
.colorNuevo1 {
  background-color: #8C7785;
}
.colorNuevo2 {
  background-color: #3C2040;
}
.colorNuevo3 {
  background-color: #1E0126;
}
.colorNuevo4 {
  background-color: #350D40;
}
.colorNuevo5 {
  background-color: #F2E7DC;
}

.result {
  flex: 1 1 auto;
}

.vh-5 {
  height:5vh;
}
.vh-10 {
  height:10vh;
}
.vh-85 {
  height:85vh;
}
.vh-90 {
  height:90vh;
}
.vh-95 {
  height:95vh;
}

.infoDescriptor {
  color: #F2E7DC;
}

.svgColor {
  fill:#989795;
  max-width: 2em;
  min-width: 2em;
  max-height: 2em;
  min-height: 2em;
}
.acceptButton {
  color: #F2E7DC;
  background-color: #350D40;
  border-color: #350D40;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1em;
  font-size: 2em;
  padding: 1em 2em 1em 2em;
}

.cancelButton {
  color:  #350D40;
  background-color:#F2E7DC;
  border-color: #350D40;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1em;
  font-size: 2em;
  padding: 1em 2em 1em 2em;
}
.slideButton {
  position: relative;
  overflow: hidden;  
  color: #1E0126;
  border-radius: 1em;
}

.slideButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #350D40;
  transition: left 0.8s ease;
  z-index: 0;

}

.slideButton:hover::before {
  left: 0;
}

.slideButton:hover {
  color: #F2E7DC;
}

.slideButton h5 {
  position: relative;
  z-index: 1;
}

.noDisc {
  list-style: none;
}

.rightRounded {
  border-radius: 0 10em 10em 0;
}
.svgProfile {
  max-width:  5em;
  max-height: 5em;
  height:     5em;
  width:      5em;
}
.svgIcons {
  max-width: 15em;
  max-height: 15em;
  height:15em;
  width:15em;
}
.profileIcon {
  background-size: cover;
}
/* .profileIcon:hover {
  opacity: 0.4;
} */

.editIcon:hover {
  opacity: 0.6;
  background-color: white;
  cursor:pointer;
}
.editIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  opacity: 0;
  
  position:absolute;
}
.purpleCard {
  background-color: #8C7785;
  border-color:#1E0126;
  border-width: 3px;
  border-style: solid; 
}


/* ----------ELEMENTOS GENERALES---------- */

body,html {
  overflow-x: hidden;
  padding:0;
  margin:0;
}

select{
  text-align:center;
  height: 3em; 
  border-radius: 12px;
  width: 75%;
}

header {
  height: 10vh;
  position: sticky;
}



a[href] {
  text-decoration: none;
}

a, div {
  text-decoration: none;
}


ul li{
  list-style: none;
}

.linkList::before {
  content: "•"; 
  color: #989795;
  position: relative;
  right:1.1em;
}

footer a{
  text-decoration: none;
  color: #989795;
}

/* ----------CLASES---------- */

.claret { background-color: #990032; }

.pistachio { background-color: #BFB48F; }

.whitesmoke { background-color: whitesmoke; } 

.green { color: green; } 

.negrita{
  font-weight: bold;
}
.leido{
  background-color: #e8e8e8;
}

.passButton {
  border-radius: 0px 12px 12px 0px;
}

body::-webkit-scrollbar {
  display: none;
}

.scrollable {
  overflow-y:scroll;
  overflow-y:scroll;
}

.scrollable::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll vertical */
  margin-right: 2em;
  
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #555; /* Color de la barra de desplazamiento */
  border-radius: 4px; /* Bordes redondeados */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #444; /* Color cuando el cursor está encima */
}


.noLeido {
  font-weight: bold;
}

.shadow-25 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.rowMail {
  transition: transform 0.3s ease; /* Agregar transición para suavizar el desplazamiento */
}

.rowMail:hover {
  transform: translateX(20px); /* Desplazar 20px a la derecha al pasar el ratón sobre el elemento */
}


.panelEnviar {
  position: fixed;
  bottom: 0;
  right:0;
  margin-right:3vw;
  width: 31%;
  height: 60vh;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.nuevoCorreo {
  position: fixed;
  bottom: 0;
  right:0;
  margin-bottom: 1.5em;
  margin-right: 2em;
  max-width: 6em;
  cursor:pointer;
}


.cursorPointer {
  cursor: pointer;
}
 
.borderProfile {
  max-width: 3em;
  border: 2px solid black;
}

.alignJustify {
  text-align: justify;
}

.mailImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.fit-content{
  width:fit-content;
}

.divActionsImage {
  width:fit-content;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.actionsImage {
  height: 1.5em;
}

.mailBody {
  max-height:23vh;
  overflow-y: auto;
}

.loginImage {
  object-fit: contain;
}

.navAdminHeight {
  height: 10vh;
  max-height: 10vh;
}

.centerInfo {
  height: 88%;
}


.mh10vh {
  max-height: 10vh
}
.mh8vh {
  max-height: 8vh
}
.cards {
  height:10em;
  width:8em;
  position: absolute;
  padding:2em;
  text-align: center;
  margin:2em;
  border:1px solid black;
  
}
/* .cards:hover {
  /* scale:1.1; */
  
/* } */ */

.card0 {
  z-index: 0;
  right:40em;
  scale:0.9;
}
.card1 {
  z-index: 1;
  right:36em;
  scale:1;
}

.card2{
  right:30em;
  z-index: 2;
  scale:1.132;
}

.card3 {
  right:24em;
  z-index: 1;
}

/* -------------ID------------- */
#cuerpo {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.rosaDayusky {
  background-color: #c98484;
}


#contenedor {
  height: 50%;
}

#piano {
  display: flex;
  position: relative;
}

.tecla-blanca.pressed {
  box-shadow: 0px 0px 0px ;
  background-color: rgb(235, 235, 235);
  transform: translateY(2px);
  height: 128px
}
.tecla-blanca {
  background-color: white;
  height: 120px;
  width: 40px;
  z-index: 0;
  border: 1.5px solid black;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 6px 0px rgb(20,52,90);
  padding-top: 80px
}
.tecla-guia.pressed {
  box-shadow: 0px 0px 0px ;
  background-color: rgb(235, 235, 235);
  transform: translateY(6px);
}
.tecla-guia {
  background-color: white;
  height: 40px;
  width: 40px;
  z-index: 0;
  border: 1.5px solid black;
  border-radius:8px;
  /* box-shadow: 0px 6px 0px rgb(20,52,90); */
  box-shadow: 0px 6px 0px black
}

.tecla-negra {
  z-index: 1;
  background-color: black;
  height: 80px;
  width: 20px;
  border: 1.5px black solid;
  position: absolute;
  border-radius: 0 0 5px 5px;
}

.REb4 {
  left: 30px;
}

.MIb4 {
  left: 70px;
}

.SOLb4 {
  left: 150px;
}

.LAb4 {
  left: 190px;
}

.SIb4 {
  left: 230px;
}

.REb5 {
  left: 310px;
}

.MIb5 {
  left: 350px;
}

#successMessage{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.acceptButton-sm {
  color: #F2E7DC;
  background-color: #350D40;
  border-color: #350D40;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1em;
  /* font-size: 2em; */
  padding: 0.5em 1em 0.5em 1em;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(2.5); }
  100% { transform: scale(1); }
}
.pop-animation {
  animation: pop 0.1s ease-out;
}

@keyframes floatUp {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-30px); opacity: 0; }
}
.point-animation {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  animation: floatUp 0.3s ease-out;
  pointer-events: none;
}

.pianoOriginal {
  /* transform: scale(2);   */
  /* transform-origin: top left; */
}
#myCanvas {
  /* transform: scale(2);   */
  /* transform-origin: top left; */
  /* background-color: red; */
}