/* NUEVOS */
.colorNuevo1 {
  background-color: #8C7785;
}
.colorNuevo2 {
  background-color: #3C2040;
}
.colorNuevo3 {
  background-color: #1E0126;
}
.colorNuevo4 {
  background-color: #350D40;
}
.colorNuevo5 {
  background-color: #F2E7DC;
}

.vh-90 {
  height:90vh;
}
.vh-10 {
  height:10vh;
}
.vh-95 {
  height:95vh;
}
.vh-5 {
  height:5vh;
}

.acceptButton {
  color: #F2E7DC;
  background-color: #350D40;
  border-color: #350D40;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1em;
  font-size: 2em;
  padding: 1em 2em 1em 2em;
}

.cancelButton {
  color:  #350D40;
  background-color:#F2E7DC;
  border-color: #350D40;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1em;
  font-size: 2em;
  padding: 1em 2em 1em 2em;
}


/* ----------ELEMENTOS GENERALES---------- */

body,html {
  overflow-x: hidden;
  padding:0;
  margin:0;
}

select{
  text-align:center;
  height: 3em; 
  border-radius: 12px;
  width: 75%;
}

header {
  height: 10vh;
  max-height: 10vh;
  position: sticky;
  z-index: 999;
  top: -10px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

header img{
  max-height: 8vh;
}

input {
  border-radius: 12px;
  padding: 8px; 
  font-size: 20px;
  border-width: 1px;
  border-color: black;
}

a[href] {
  /* color: #00B7FF; */
  text-decoration: none;
}

a, div {
  text-decoration: none;
}

dt {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
}

dd {
  display: inline-block;
  width: 10em;
  margin: 0 0 0 1em;
}

footer {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.25);
}

footer ul{
  list-style: none;
}

footer a{
  text-decoration: none;
  color: white;
}

/* ----------CLASES---------- */

.claret { background-color: #990032; }

.smoky { background-color: #231C07; }

.pistachio { background-color: #BFB48F; }

.whitesmoke { background-color: whitesmoke; } 

.red { color: red; } 
.green { color: green; } 

.negrita{
  font-weight: bold;
}
.leido{
  background-color: #e8e8e8;
}


.innerShadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.passButton {
  border-radius: 0px 12px 12px 0px;
}

.scrollable {
  max-height: 90vh;
  overflow-y:scroll;
}

.scrollable-listar{
  max-height: 52vh;
  overflow-y:scroll;
}

.scrollable-listar::-webkit-scrollbar { display: none; }

.scrollable-bookings{
  max-height: 81vh;
  overflow-y:scroll;
}

.scrollable-bookings::-webkit-scrollbar { display: none; }

.scrollable-info{
  max-height: 83vh;
  overflow-y:scroll;
}

.scrollable-info::-webkit-scrollbar { display: none; }

.scrollable-correo {
  max-height: 81vh;
  overflow-y:scroll;
}

.scrollable-correo::-webkit-scrollbar {
  display: none;
}
.scrollable-admin {
  max-height: 70vh;
  overflow-y:scroll;
}

.scrollable-admin::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.noLeido {
  font-weight: bold;
}

.shadow-25 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.rowMail {
  transition: transform 0.3s ease; /* Agregar transición para suavizar el desplazamiento */
}

.rowMail:hover {
  transform: translateX(20px); /* Desplazar 20px a la derecha al pasar el ratón sobre el elemento */
}


.panelEnviar {
  position: fixed;
  bottom: 0;
  right:0;
  margin-right:3vw;
  width: 31%;
  height: 60vh;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.nuevoCorreo {
  position: fixed;
  bottom: 0;
  right:0;
  margin-bottom: 1.5em;
  margin-right: 2em;
  max-width: 6em;
  cursor:pointer;
}

.scrollable-x {
  max-width: 100vw;
  overflow-x:auto;
}

.scrollable-x::-webkit-scrollbar {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}
 
.borderProfile {
  max-width: 3em;
  border: 2px solid black;
}

.alignJustify {
  text-align: justify;
}

.mailImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.fit-content{
  width:fit-content;
}

.divActionsImage {
  width:fit-content;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.actionsImage {
  height: 1.5em;
}

.mailBody {
  max-height:23vh;
  overflow-y: auto;
}

.fakeBody {
  height:100vh
}

.loginImage {
  object-fit: contain;
}

.loginHeight {
  height:90%;
}

.navAdminHeight {
  height: 10vh;
  max-height: 10vh;
}

.centerInfo {
  height: 88%;
}



.mh10vh {
  max-height: 10vh
}
.mh8vh {
  max-height: 8vh
}


/* -------------ID------------- */
#cuerpo {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.rosaDayusky {
  background-color: #c98484;
}