<section id="about" class="container">
    <h2 class="text-center mb-4">Sobre Nosotros</h2>
    <p class="text-center lead p-4">
        ClefChamp es una aplicación web diseñada para ayudar a músicos de todos los niveles a mejorar sus habilidades
        musicales de manera interactiva y entretenida. A través de juegos y desafíos, los usuarios pueden aprender
        teoría musical, entrenar su oído y mejorar su reconocimiento de notas.
    </p>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Nuestra Misión</h3>
            <p>
                Nuestra misión es hacer que el aprendizaje de la música sea accesible, motivador y efectivo. Creemos que
                la mejor manera de aprender es a través del juego, por eso ofrecemos una experiencia interactiva que
                convierte la práctica musical en un reto divertido.
            </p>
        </div>
        <div class="col-md-6">
            <h3>¿Para quién es ClefChamp?</h3>
            <p>
                ClefChamp está diseñado tanto para principiantes que desean aprender música desde cero como para músicos
                avanzados que buscan mejorar sus habilidades de una manera diferente. También es una herramienta útil
                para profesores que quieran complementar sus clases con actividades interactivas.
            </p>
        </div>
    </div>

    <div class="mt-4">
        <h3>Características Principales</h3>
        <ul>
            <li>Juegos interactivos para reconocer notas.</li>
            <li>Sistema de puntuación y logros para motivar el aprendizaje.</li>
            <li>Seguimiento del progreso.</li>
            <li>Comparación de puntuaciones.</li>
        </ul>
    </div>

    <div class="mt-4">
        <h3>El Equipo Detrás de ClefChamp</h3>
        <p>
            ClefChamp es un proyecto nacido en el ámbito universitario como parte de un trabajo final de grado en
            Ingeniería de Software. Sin embargo, el objetivo es continuar desarrollándolo como un proyecto personal
            a largo plazo, mejorando sus características y ampliando su alcance para ayudar a más personas a aprender música
            de manera interactiva y divertida.
        </p>
    </div>
</section>
