<h3 >Términos Legales</h3>
        <p>
            <strong>1. Uso de la Aplicación:</strong> ClefChamp es una plataforma educativa destinada al aprendizaje musical. El uso indebido,
            incluyendo la reproducción no autorizada del contenido o cualquier actividad que viole las normas de convivencia,
            está estrictamente prohibido.
        </p>
        <p>
            <strong>2. Responsabilidad:</strong> ClefChamp no se hace responsable de posibles errores en el contenido ni de problemas derivados del
            uso de la plataforma. Se recomienda a los usuarios verificar la información antes de aplicarla en contextos profesionales.
        </p>
        <p>
            <strong>3. Propiedad Intelectual:</strong> Todo el contenido de ClefChamp, incluyendo código, diseño y materiales educativos,
            está protegido por derechos de autor. No se permite la reproducción, distribución o modificación sin autorización.
        </p>
        <p>
            <strong>4. Privacidad:</strong> ClefChamp respeta la privacidad de sus usuarios y no recopila datos personales sin su consentimiento.
            Cualquier información proporcionada será utilizada únicamente con fines educativos y de mejora del servicio.
        </p>
        <p>
            <strong>5. Modificaciones:</strong> Estos términos pueden ser modificados en cualquier momento. Se recomienda a los usuarios revisar
            periódicamente esta sección para mantenerse informados sobre posibles cambios.
        </p>