<div class="row">
    <div class="col">
        <a href="https://github.com/jesuggc" target="_blank"> 
            <img class="rounded-circle w-100" src="/images/github_jesus.jpg" alt="Imagen de perfil del desarrollador de la aplicación">
        </a>
    </div>
    <div class="col alignJustify">
        <h2>Jesús González</h2>
        <h5>Desarrollador de software</h5>
        <p>Jesús es nuestro experto en desarrollo de software de Full Stack, especializado en la creación de experiencias web excepcionales. Con habilidades técnicas sólidas y un enfoque creativo, Jesús impulsa la innovación en los proyectos.</p>
    </div>
</div>
