<div class="row">
    <div class="col">
        <a href="https://github.com/jesuggc" target="_blank"> 
            <img class="rounded-circle w-100" src="/images/github_jesus.jpg" alt="Imagen de perfil del desarrollador de la aplicación">
        </a>
    </div>
    <div class="col alignJustify">
        <h2>Jesús González</h2>
        <h5>Desarrollador de software</h5>
        <p> Soy Jesús, estudiante de Ingeniería de Software y apasionado por la música y la tecnología. Creé ClefChamp
            como parte de mi trabajo final de grado con la intención de ofrecer una herramienta accesible y entretenida
            para el aprendizaje musical. Mi objetivo es seguir expandiendo la plataforma, incorporando nuevas funcionalidades
            y mejorando la experiencia de los usuarios, combinando el poder de la gamificación con la educación musical.</p>
    </div>
</div>
